body {
    margin: 0 auto;
    width: 600px;
    background-color: hsl(0, 0%, 15%);
}

.single-menu-item {
    border-bottom: 1px solid #000;
    background-color: #fff;
}

.single-menu-item {
    display: flex;
}

.menu-item-image {
    font-size: 80px;
}
