body {
    margin: 0 auto;
    width: 600px;
    background-color: hsl(0, 0%, 15%);
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
}

header {
    position: relative;
    color: #fff;
}

header h1 {
    font-size: 39px;
    margin-bottom: 0px;
}

header h2{
    font-size: 22.42px;
    margin-top: 5px;
}

.header-text {
    position: absolute;
    top: 20px;
    left: 46px;
}

.item-list {
    background-color: #fff;
}

.single-menu-item {
    display: flex;
    border-bottom: 1px solid #D2D2D2;
    background-color: #fff;
    align-content: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.menu-item-image {
    font-size: 80px;
    align-self: center;
    opacity: 80%;
}

.menu-item-details {
    width: 358px;
    padding-left: 15px;
}

.menu-item-details h3{
    font-size: 28px;
    margin-bottom: 5px;
}

.ingredients-text {
    color: #8B8B8B;
    margin-top: 0px;
}

.price-text {
    color: #000;
}

.add-to-order {
    align-self: center;
}

.add-to-order-btn{
    background-color: #fff;
    border: solid 1px #DEDEDE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}