body {
    margin: 0 auto;
    width: 600px;
    background-color: hsl(0, 0%, 15%);
}

.single-menu-item {
    border-bottom: 1px solid #000;
    background-color: #fff;
    align-content: center;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
}

.single-menu-item {
    display: flex;
}

.menu-item-image {
    font-size: 80px;
    align-self: center;
}

.menu-item-details {
    width: 358px;
}

.add-to-order {
    align-self: center;
}

.add-to-order-btn{
    background-color: #fff;
    border: solid 1px #DEDEDE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}